/* _______________

RESET

__________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* _______________

COMMON

__________________*/

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

img {
    width: 100%;
    display: block;
}

body {
    position: relative;
}

.big {
    width: 80%;
    height: 60%;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: fit-content;
}

/* _______________

HEADER

__________________*/

header {
    color: white;
    background-color: #ff6900;
    font-size: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header .logo {
    height: 100%;
}
/* _______________

MAIN

__________________*/

/* _______________

FOOTER

__________________*/