/* _______________

RESET

__________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* _______________

COMMON

__________________*/

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

img {
    width: 100%;
    display: block;
}

body {
    position: relative;
}

.big {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

/* _______________

HEADER

__________________*/

header {
    color: white;
    background-color: #ff6900;
    font-size: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header .logo {
    height: 100%;
}

header .box {
    height: 60%;
    min-width: fit-content;
}

/* _______________

MAIN

__________________*/

main {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 100px;
}

.product-box {
    margin: 50px 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    flex-basis: calc(100% / 3 - 30px);
}

.product>* {
    width: 100%;
    position: relative;
}

.product-details > * {
    line-height: 25px;
}

.product-details small {
    font-size: 15px;
}

.product-details h2 {
    font-size: 25px;
}

.product-details p {
    font-size: 20px;
}

.product-details span:nth-child(1) {
    color: red;
    font-weight: bold;
}

.product-details p span:nth-child(2) {
    text-decoration: line-through;
    margin-left: 10px;
}

.favored-items  {
    height: 50px;
    width: 50px;
    background-color: white;
    color: black;
    position: absolute;
    top: 15px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.favored-items:hover {
    color: red;
}

.tag-box {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    z-index: 2;
}

.discount-tag {
    background-color: red;
    font-size: 20px;
    color: white;
    padding: 5px;
}

.eco-tag {
    background-color: green;
    font-size: 20px;
    color: white;
    padding: 5px;
}

.hidden-img {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
}

.product-photo:hover .hidden-img{
    display: inline;
    z-index: 1;
}

/* _______________

FOOTER

__________________*/